<div class="starter-template">
  <h1>App Exemplo para demonstração de métricas</h1>
  <p class="lead">
    Esta app foi criada para ser utilizada como exemplo para algumas métricas de software,
    em um trabalho apresentado na disciplina de Projetos de Sistemas da Pós Graduação em
    Engenharia de Software da UDESC - 2013.
  </p>

  <h4>Alunos</h4>
  <ul class="unstyled">
    <li>Ademar Perfoll Junior</li>
    <li>Anderson Diego Kulpa Fachini</li>
    <li>Carlos Antonio da Silva</li>
  </ul>
</div>
